body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list {
  list-style: none;
}
.list-item {
  background-color: gray;
  margin: 15px 0px;
  text-align: center;
  padding: 10px;
}
.list-item-span {
  background-color: yellow;
}
